*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
    outline: none;
    text-decoration: none;
}
.con{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(40) infinite alternate;
    border-right: 3px solid black;
    font-size: 20px;
    color: chartreuse;

}
@keyframes text{
    0%{
       width:0ch
    }
    50%{
        width: 40ch;
    }
}
h2
{
    text-align: center; text-decoration: underline; font-size: xx-large;
}