.head2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight:bold;
    font-family: sans-serif;
    
}
/* .full
{
    width: 33%;
} */
.lab{
    text-align: center;
}
.frm{
    height: 20%;
}
/* .bt
{
    position: relative;
    margin-left: 45%;
} */
form{
    background: rgba(255,255,255,0.8);
    border-radius: 6px;
     /* background-color: brown; */
     padding: 50px;
     color: black;
}
 
/* form input{
    color: black;
} */

